.tabbed-component__tabs {
    width: 100%;
}

.tabbed-component__tab {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.tabbed-component__tab-link {
    display: block;
    padding: .5em;
    background-color: silver;
}

.tabbed-component__tab-link_selected {
    background-color: white;
}

.tabbed-component__content {

}
